.search {
	width: 300px;
	margin: 0 10px;
}

.search label {
	position: relative;
	width: 100%;
}
.search label input {
	width: 100%;
	height: 30px;
	border-radius: 40px;
	padding: 5px 20px;
	outline: none;
	padding-left: 35px;
	font-size: 1em;
	border: 1px solid var(--secondary-color);
}

.search label ion-icon {
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 1.2em;
}

.table-box {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 0.5rem;
	margin-top: 0.2rem;
}

.table-box .custom-table {
	background: var(--white);
	padding: 1rem;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.192);
	border-radius: 10px;
	margin: 0 5px;
}
.custom-table .cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cardHeader h3 {
	/* 	font-weight: 600; */
	color: var(--primary-color);
}
.btn {
	background: var(--primary-color);
	text-decoration: none;
	color: var(--secondary-color);
	border: 1px solid var(--white);
	border-radius: 5px;
	padding: 2px 4px;
	cursor: pointer;
	/* font-size: 0.9rem;
	font-weight: 200; */
}
.btn:hover {
	background: var(--primary-color);
}

tbody tr td ion-icon {
	position: relative;
	top: 5px;

	font-size: 1.2rem;
	color: red;
	margin-right: 3px;
}
tbody tr:hover ion-icon {
	color: rgb(253, 253, 253);
	cursor: pointer;
}
.table-box .custom-table table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	font-size: 1rem;
}
.table-box .custom-table table thead th,
.table-box .custom-table table tbody td {
	padding: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: start;
}
.table-box .custom-table table tbody tr td:first-child,
.table-box .custom-table table tbody tr td:first-child {
	padding-left: 5px;
}
.table-box .custom-table table tbody tr {
	cursor: pointer;
	height: 4vh;
}
.table-box .custom-table table tbody tr:hover {
	background: var(--primary-color);
	color: var(--secondary-color);
}
.table-box .custom-table table tr th:last-child,
.table-box .custom-table table tr td:last-child {
	text-align: end;
	position: relative;
	justify-content: center;
}
.table-box .custom-table table#opd-table tr th:last-child,
.table-box .custom-table table#opd-table tr td:last-child {
	text-align: end;
	position: relative;
	justify-content: center;
}

.btn.edit {
	background: var(--primary-color);
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
	margin: 0 2px;
}

.btn.view {
	background: var(--primary-color);
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
	margin: 0 2px;
}
.btn.print {
	background: var(--green);
	border: 2px solid var(--white);
	color: var(--white);
	margin: 0 2px;
}

.dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
}
.pat-card {
	background: var(--white);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;

	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	margin-top: 15px;
}

.pat-card .imgBx {
	width: 60px;
	height: 65px;
	border-radius: 20%;
	overflow: hidden;
	margin-right: 15px;
}

.pat-card .imgBx img {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pat-card .nameBox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.pat-card .nameBox h4 {
	font-size: 0.8rem;
	margin: 0.2rem 0;
}
.pat-card .nameBox span {
	font-size: 0.8rem;
	margin: 0.2rem 0.3rem;
}

/* Model Form Style Code */

.modal-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	transform: translateZ(0);
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2.5em 1.5em 1.5em 1.5em;
	background-color: #ffffff;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

._modal-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	line-height: 1;
	background: #f6f6f7;
	border: 0;
	box-shadow: 0;
	cursor: pointer;
}

._modal-close-icon {
	width: 25px;
	height: 25px;
	fill: transparent;
	stroke: black;
	stroke-linecap: round;
	stroke-width: 2;
}

.modal-body {
	padding-top: 0.25em;
}
._hide-visual {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.scroll-lock {
	overflow: hidden;
	margin-right: 17px;
}
.form-group {
	display: flex;
	flex-direction: column;
}
.form-group .form-control {
	width: 15rem;
	height: 2rem;
	margin: 5px 0;
	font-size: 15px;
	padding: 2px 5px;
	border-radius: 8px;
}

.form-title {
	margin-bottom: 5px;
	text-align: center;
	color: var(--primary-color);
}
.btn-submit {
	width: 100px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 8px;
	cursor: pointer;
	align-self: center;
	height: 30px;
	margin-top: 15px;
}
.btn-submit:hover {
	background-color: var(--primary-color);
}
@media screen and (min-width: 500px) {
	/* Center the Modal! */
	.modal-area {
		left: 50%;
		top: 50%;
		height: auto;
		transform: translate(-50%, -50%);
		max-width: 18em;
		max-height: calc(100% - 1em);
	}
}
@media only screen and (max-width: 1200px) {
	.table-box {
		display: flex;
		flex-direction: column;

		.custom-table {
			overflow: auto;
			.cardHeader {
				flex-direction: column;
				gap: 1vh;
				.search {
					width: 100%;
				}
			}

			.cardHeaderdate {
				flex-direction: column;
				gap: 1vh;
				flex-wrap: nowrap;
				padding: 0;
				span {
					text-align: center;
				}
				label,
				input {
					display: inline-block;
				}
			}
			#opd-table-body {
				/* 	thead tr,
				tbody tr {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					gap: 10vh;
				} */
			}
		}
	}
}
