.topbar-menu {
	margin-top: 10px;
	border-top: 1px solid var(--border-color-header);
	border-bottom: 1px solid var(--border-color-header);
	background: var(--primary-color);
	ul {
		margin: 5px 0 5px;
		justify-content: flex-end;

		li {
			padding: 2px 10px 2px;
			display: inline-block;
			text-align: center;
			color: var(--font-primary-color);

			&:hover {
				background: var(--after-hover-light-color);
				color: var(--font-primary-color);
				cursor: pointer;
				border-radius: 5px;
			}
		}
	}
}
