@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* body {
	margin: 0;
	background-color: #000;
	color: #eee;
	font-family: Poppins;
	font-size: 12px;
} */
a {
	text-decoration: none;
}
/* header {
	width: 1140px;
	max-width: 80%;
	margin: auto;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 100;
}
header a {
	color: #eee;
	margin-right: 40px;
} */
/* carousel */
.main-carousel {
	height: 100vh;
	/* margin-top: -50px; */
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.main-carousel .list .item {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0 0 0 0;
}
.main-carousel .list .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-carousel .list .item .content {
	position: absolute;
	top: 10%;
	width: 1140px;
	max-width: 90%;
	left: 50%;
	transform: translateX(-50%);
	padding-right: 20%;
	box-sizing: border-box;
	color: #fff;
	text-shadow: 0 5px 10px #0004;
}
.main-carousel .list .item .author {
	font-weight: bold;
	letter-spacing: 10px;
}
.main-carousel .list .item .title,
.main-carousel .list .item .topic {
	font-size: 4rem;
	font-weight: bold;
	line-height: 1.3em;
}
/* .main-carousel .overlay-background {
	position: absolute;
	background-color: brown;
} */
/* .main-carousel .list .item .topic {
	color: #eb6f3e;
} */

.main-carousel .list .item .buttons {
	display: grid;
	grid-template-columns: repeat(2, 130px);
	grid-template-rows: 40px;
	gap: 5px;
	margin-top: 20px;
}
.main-carousel .list .item .buttons button {
	border: none;
	background-color: #eee;
	letter-spacing: 2px;
	font-family: Poppins;
	font-weight: 500;
	color: #eb6f3e;
}
.main-carousel .list .item .buttons button:hover {
	color: rgba(34, 34, 255, 0.734);
}
.main-carousel .list .item .buttons button:nth-child(2) {
	background-color: transparent;
	border: 1px solid #fff;
	color: #eee;
}
.main-carousel .list .item .buttons button:nth-child(2):hover {
	background-color: #eb6f3e;
	border: none;
	color: #eee;
	transition: all ease-in-out 0.5s;
}
/* thumbail */
.main-carousel .thumbnail {
	position: absolute;
	bottom: 50px;
	left: 60%;
	width: max-content;
	z-index: 100;
	display: flex;
	gap: 20px;
}
.main-carousel .thumbnail .item {
	width: 120px;
	height: 180px;
	flex-shrink: 0;
	position: relative;
}
.main-carousel .thumbnail .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}
.main-carousel .thumbnail .item .content {
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}
.main-carousel .thumbnail .item .content .title {
	font-weight: 500;
}
.main-carousel .thumbnail .item .content .description {
	font-weight: 300;
}
/* arrows */
.main-carousel .arrows {
	position: absolute;
	top: 80%;
	right: 52%;
	z-index: 100;
	width: 300px;
	max-width: 30%;
	display: flex;
	gap: 10px;
	align-items: center;
}
.main-carousel .arrows button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #eee4;
	border: none;
	color: #fff;
	font-family: monospace;
	font-weight: bold;
	transition: 0.5s;
}
.main-carousel .arrows button:hover {
	background-color: #fff;
	color: #000;
}

/* animation */
.main-carousel .list .item:nth-child(1) {
	z-index: 1;
}

/* animation text in first item */

.main-carousel .list .item:nth-child(1) .content .author,
.main-carousel .list .item:nth-child(1) .content .title,
.main-carousel .list .item:nth-child(1) .content .topic,
.main-carousel .list .item:nth-child(1) .content .des,
.main-carousel .list .item:nth-child(1) .content .buttons {
	transform: translateY(50px);
	filter: blur(20px);
	opacity: 0;
	animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
	to {
		transform: translateY(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
.main-carousel .list .item:nth-child(1) .content .title {
	animation-delay: 1.2s !important;
}
.main-carousel .list .item:nth-child(1) .content .topic {
	animation-delay: 1.4s !important;
}
.main-carousel .list .item:nth-child(1) .content .des {
	animation-delay: 1.6s !important;
}
.main-carousel .list .item:nth-child(1) .content .buttons {
	animation-delay: 1.8s !important;
}
/* create animation when next click */
.main-carousel.next .list .item:nth-child(1) img {
	width: 150px;
	height: 220px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	border-radius: 30px;
	animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
	to {
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
}

.main-carousel.next .thumbnail .item:nth-last-child(1) {
	overflow: hidden;
	animation: showThumbnail 0.5s linear 1 forwards;
}
.main-carousel.prev .list .item img {
	z-index: 0;
}
@keyframes showThumbnail {
	from {
		width: 0;
		opacity: 0;
	}
}
.main-carousel.next .thumbnail {
	animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
	from {
		transform: translateX(150px);
	}
}

/* running time */

.main-carousel .time {
	position: absolute;
	z-index: 0;
	width: 0%;
	height: 3px;
	background-color: #e9d904;
	left: 0;
	top: 0;
}

.main-carousel.next .time,
.main-carousel.prev .time {
	animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

/* prev click */

.main-carousel.prev .list .item:nth-child(2) {
	z-index: 2;
}

.main-carousel.prev .list .item:nth-child(2) img {
	animation: outFrame 0.5s linear 1 forwards;
	position: absolute;
	bottom: 0;
	left: 0;
}
@keyframes outFrame {
	to {
		width: 150px;
		height: 220px;
		bottom: 50px;
		left: 50%;
		border-radius: 20px;
	}
}

.main-carousel.prev .thumbnail .item:nth-child(1) {
	overflow: hidden;
	opacity: 0;
	animation: showThumbnail 0.5s linear 1 forwards;
}
.main-carousel.next .arrows button,
.main-carousel.prev .arrows button {
	pointer-events: none;
}
.main-carousel.prev .list .item:nth-child(2) .content .author,
.main-carousel.prev .list .item:nth-child(2) .content .title,
.main-carousel.prev .list .item:nth-child(2) .content .topic,
.main-carousel.prev .list .item:nth-child(2) .content .des,
.main-carousel.prev .list .item:nth-child(2) .content .buttons {
	animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
	to {
		transform: translateY(-150px);
		filter: blur(20px);
		opacity: 0;
	}
}
@media screen and (max-width: 678px) {
	.main-carousel {
		height: 40vh;
		width: 100vw;
	}
	.main-carousel .list .item {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0 0 0 0;
	}
	.main-carousel .list .item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-position: right;
	}

	.main-carousel .list .item .content {
		position: absolute;
		top: 10%;
		width: 678px;
		max-width: 90%;
		left: 50%;
		transform: translateX(-50%);
		padding-right: 20%;
		box-sizing: border-box;
		color: #fff;
		text-shadow: 0 5px 10px #0004;
	}
	.main-carousel .list .item .author {
		font-weight: bold;
		letter-spacing: 10px;
	}
	.main-carousel .list .item .title,
	.main-carousel .list .item .topic {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.3em;
	}
	/* .main-carousel .overlay-background {
		position: absolute;
		background-color: brown;
	} */
	/* .main-carousel .list .item .topic {
		color: #eb6f3e;
	} */

	.main-carousel .list .item .buttons {
		display: grid;
		grid-template-columns: repeat(2, 80px);
		grid-template-rows: 40px;
		gap: 5px;
		margin-top: 10px;
		font-size: 10px;
	}
	.main-carousel .list .item .buttons button {
		border: none;
		background-color: #eee;
		letter-spacing: 2px;
		font-family: Poppins;
		font-weight: 500;
		color: #eb6f3e;
	}
	.main-carousel .list .item .buttons button:hover {
		color: rgba(34, 34, 255, 0.734);
	}
	.main-carousel .list .item .buttons button:nth-child(2) {
		background-color: transparent;
		border: 1px solid #fff;
		color: #eee;
	}
	.main-carousel .list .item .buttons button:nth-child(2):hover {
		background-color: #eb6f3e;
		border: none;
		color: #eee;
		transition: all ease-in-out 0.5s;
	}
	/* thumbail */
	.main-carousel .thumbnail {
		position: absolute;
		bottom: 0;
		right: 10%;
		width: max-content;
		z-index: 100;
		display: flex;
		gap: 10px;
	}
	.main-carousel .thumbnail .item {
		display: none;
		width: 120px;
		height: 180px;
		flex-shrink: 0;
		position: relative;
	}
	.main-carousel .thumbnail .item img {
		width: 30%;
		height: 30%;
		object-fit: cover;
		border-radius: 20px;
	}
	.main-carousel .thumbnail .item .content {
		color: #fff;
		position: absolute;
		bottom: 10px;
		left: 10px;
		right: 10px;
	}
	.main-carousel .thumbnail .item .content .title {
		font-weight: 500;
	}
	.main-carousel .thumbnail .item .content .description {
		font-weight: 300;
	}
	/* arrows */
	.main-carousel .arrows {
		position: absolute;
		top: 80%;
		right: 52%;
		z-index: 100;
		width: 300px;
		max-width: 30%;
		display: flex;
		gap: 10px;
		align-items: center;
	}
	.main-carousel .arrows button {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #eee4;
		border: none;
		color: #fff;
		font-family: monospace;
		font-weight: bold;
		transition: 0.5s;
	}
}

/* arrows */
.arrows-custom {
	position: absolute;
	top: 80%;
	right: 52%;
	z-index: 100;
	width: 300px;
	max-width: 30%;
	display: flex;
	gap: 10px;
	align-items: center;
}
.arrows-custom button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #eee4;
	border: none;
	color: #fff;
	font-family: monospace;
	font-weight: bold;
	transition: 0.5s;
}
.arrows-custom button:hover {
	background-color: #fff;
	color: #000;
}
