.cart-icon {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
	/* padding: 0 1vw;
 */
	.shopping-icon {
		width: 2vw;
		height: 2vw;
	}

	.item-count {
		position: absolute;
		color: rgb(0, 0, 0);
		font-size: 0.7rem;
		//margin-left: 0.7vw;
	}

	&:hover {
		.shopping-icon {
			width: 2.2vw;
			height: 2.2vw;
		}
		.item-count {
			font-size: 0.9rem;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.cart-icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		/* padding: 0 1vw;
	 */
		.shopping-icon {
			width: 4vw;
			height: 4vw;
		}

		.item-count {
			position: absolute;
			color: rgb(0, 0, 0);
			font-size: 1rem;
		}

		&:hover {
			.shopping-icon {
				width: 5.2vw;
				height: 5.2vw;
			}
			.item-count {
				font-size: 0.9rem;
			}
		}
	}
}
@media only screen and (max-width: 1200px) {
	.cart-icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		/* padding: 0 1vw;
	 */
		.shopping-icon {
			width: 5vw;
			height: 5vw;
		}

		.item-count {
			position: absolute;
			color: rgb(0, 0, 0);
			font-size: 0.7rem;
		}

		&:hover {
			.shopping-icon {
				width: 5.2vw;
				height: 5.2vw;
			}
			.item-count {
				font-size: 0.6rem;
			}
		}
	}
}
