.main-header {
	display: flex;
	flex-direction: column;
	position: sticky;
	z-index: 100;
	top: 0;
	background-color: var(--header-background-color);
	width: 100vw;

	.header1 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		//height: fit-content;
		border-top: 0.03rem solid var(--primary-color);
		border-bottom: 0.03rem solid var(--primary-color);
		p {
			font-size: calc(10px + 0.5vw);
			margin: 0 3vw;
			text-align: center;
		}
	}

	.header {
		display: flex;
		justify-content: space-between;
		/* padding: 0.3rem calc(2vw + 1vh); */
		padding: 0 4vw;
		border-bottom: 0.03rem solid var(--primary-color);
		align-items: center;

		.logo-container {
			display: flex;
			align-items: center;
			/* padding: 1vh 0.5vw; */
			padding: 0.2vw;

			img {
				//width: 5vw;
				height: calc(15px + 1.5vw);
				object-fit: cover;
				border-radius: 0;
			}
			.text {
				margin: 0 1vw;
				font-size: calc(8px + 0.5vw);
				padding: 1vh 0.5vw;
				border-radius: 5px;

				&:hover {
					background-color: var(--primary-color);
					color: var(--font-primary-color);
				}
			}
		}
		.nav-options-container {
			display: flex;
			width: 85vw;
			justify-content: space-between;
			.header-menu {
				flex: 1;
				display: flex;
				justify-content: flex-end;
				.nav-option {
					align-self: center;
					padding: 1vh 0.5vw;
					cursor: pointer;
					border-radius: 5px;
					font-size: calc(8px + 0.5vw);
					span {
						white-space: nowrap;
					}

					&:hover {
						background-color: var(--primary-color);
						color: var(--font-primary-color);
					}
				}
			}
			.menu-button-icon {
				align-self: center;
				padding: 0.7vw 0.5vw;
				border-radius: 5px;
				cursor: pointer;
				display: none;

				img {
					height: calc(5px + 2.2vw);
					object-fit: cover;
				}
				&:hover {
					background-color: var(--primary-color);
					color: var(--font-primary-color);
				}
			}
			.sign-in {
				font-size: calc(8px + 0.5vw);
				align-self: center;
				padding: 0.8vw 0.5vw;
				border-radius: 5px;
				white-space: nowrap;
				cursor: pointer;
				&:hover {
					background-color: var(--primary-color);
					color: var(--font-primary-color);
				}
			}
			.user-info-container {
				display: flex;
				align-self: center;
				/* padding: 0.3vw 0.5vw; */
				margin: 0.5vh 0;
				border-radius: 5px;
				cursor: pointer;
				img {
					height: calc(5px + 2vw);
					object-fit: cover;
					border-radius: 50%;
					margin: 0 0.5vw;
				}
				&:hover {
					background-color: var(--primary-color);
					color: var(--font-primary-color);
				}
				.text {
					font-size: calc(8px + 0.5vw);
					margin: 0.5vw;
				}
			}

			.menu-item-dropdown {
				&:hover {
					.nav__submenu {
						display: block;
					}
				}
			}

			.nav__submenu {
				display: none;
				position: absolute;
				top: 8.5vh;
				width: 12vw;
				padding: 1vh;
				background-color: var(--primary-color-m);
				z-index: 5;

				.drop {
					color: var(--font-primary-color);
					display: block;
					border: 0.1rem solid var(--primary-color);
					text-align: center;
					font-size: calc(8px + 0.5vw);
					white-space: nowrap;
					&:hover {
						background-color: var(--primary-color);
						color: var(--font-secondary-color);
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.main-header {
		.header1 {
			flex-direction: row;
			padding: 0 2vw;
			p:nth-child(1) {
				font-size: calc(8px+1vw);
			}
		}
		.header {
			.logo-container {
				img {
					height: 5vw;
				}
				.text {
					font-size: calc(10px + 0.5vw);
				}
			}
			.nav-options-container {
				width: 30vw;
				flex-direction: row-reverse;
				.header-menu {
					position: absolute;
					background-color: var(--primary-color-m);
					padding: 2rem;
					display: flex;
					flex-direction: column;

					border: 1px solid black;
					top: 27vh;
					right: 40px;
					z-index: 7;

					.nav-option {
						color: var(--font-primary-color);
						display: block;
						font-size: calc(18px + 0.5vw);
						text-align: center;
					}
					:hover {
						background-color: var(--primary-color);
						color: var(--font-secondary-color);
					}
				}
				.menu-button-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						height: 3vw;
						margin: 0.5vh;
					}
				}
				.user-info-container {
					display: flex;
					align-items: center;
					margin-right: 1vw;
					img {
						height: 5vw;
						margin: 0 0.2vw;
					}
					.text {
						font-size: calc(10px + 0.5vw);
					}
					.nav__submenu {
						//width: 30vw;
						margin-top: 1.5vh;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 700px) {
	.main-header {
		.header1 {
			flex-direction: row;
			padding: 0 2vw;
			p:nth-child(1) {
				font-size: calc(8px+1vw);
			}
		}
		.header {
			.logo-container {
				img {
					height: 12vw;
				}
				.text {
					font-size: calc(15px + 0.5vw);
					padding: 1vh 1vw;
				}
			}
			.nav-options-container {
				width: 50vw;
				flex-direction: row-reverse;
				.header-menu {
					flex-direction: column;
					position: absolute;
					/* top: 12vh;
					width: 52vw;
 */

					background-color: var(--primary-color-m);
					z-index: 5;
					position: absolute;
					/* width: 240px;
					height: 340px; */
					display: flex;
					flex-direction: column;
					padding: 20px;
					border: 1px solid black;
					background-color: white;
					top: 90px;
					right: 40px;
					z-index: 7;

					.nav-option {
						color: var(--font-primary-color);
						display: block;

						text-align: center;
					}
					:hover {
						background-color: var(--primary-color);
						color: var(--font-secondary-color);
					}
				}
				.menu-button-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						height: 8vw;
						/* margin: 0.5vh; */
					}
				}
				.user-info-container {
					margin-right: 1vw;
					img {
						height: 10vw;
						margin: 0 0.2vw;
					}
					.text {
						font-size: 1rem;
					}
					.nav__submenu {
						width: 15vw;
						margin-top: 1.5vh;
					}
				}
			}
		}
	}
}
