.root-container {
	display: flex;
	flex-direction: column;

	.main-section {
		/* width: 100vw; */
		/* z-index: 2;
		display: flex;
		align-items: center; */
	}
}
.active-header-button {
	background-color: var(--primary-color);
}
@media only screen and (max-width: 1200px) {
	/*Tablets [601px -> 1200px]*/
	body {
		background-color: rgb(253, 253, 253);
	}
}
/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 5px;
}
/*
::-webkit-scrollbar-track {
	background-color: #e0f00b;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #0a0a0a;
	
} */
